<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>
<body>
<div id="container">

</div>
<script>
    // var u = document.createElement("ul");
    // u.innerHTML = 1233
    // document.getElementById("container").appendChild(u);
    $.ajax({
        url:"http://localhost:8080/shop/getAll",
        method:"get",
        success:function(result){
            for(let type in result){
                var u = document.createElement("div");
                // console.log(result[type]);
                for (let k in result[type]){
                    var image = document.createElement("img");
                    image.src = result[type][k]["img"];
                    var span = document.createElement("span");
                    span.innerHTML = result[type][k]["name"]
                    u.appendChild(image);
                    u.appendChild(span);
                }
                document.getElementById("container").appendChild(u);
            }
        }
    });
</script>
</body>
</html>
